html {
	width: 1200px;
}

body {
        background-color: whitesmoke;
}

div {
        display: block;
}

.container {
        width: 900px;
        margin-left: 185px;
        margin-right: 185px;
        background-color: white;
        padding-top: 20px;
        padding-bottom: 20px;
}

.header {
        background: url("wof2.jpg") no-repeat;
        background-size: 219px;
        background-position: right;
        height: 120px;
        margin: 20px 20px 20px 20px;
        border: solid 1px #E34234;
        border-radius: 5px;
        padding-bottom: 10px;
        background-color: whitesmoke;
}

.container_unit {
        background-color: whitesmoke;
        width: 860px;
        margin: 20px 20px 20px 20px;
	margin-top: 40px;
}


.footer {
        padding: 3px;
	width: 860px;
        background-color: #E34234;
        margin-left: 20px;
        border-radius: 5px;
}

.footertext {
        text-align: center;
        font-size: 14px;
        color: white;
}

h1 {
        font-family: Georgia, serif;
        text-align: left;
        font-size: 25px;
        padding: 25px 20px 23px 155px;
        letter-spacing: 1px;
        color: #E34234;
}

.header {
        background: url("wof2.jpg") no-repeat;
        background-size: 226px;
        background-position: right;
        height: 110px;
        margin: 20px 20px 20px 20px;
        border: solid 1px #E34234;
        border-radius: 5px;
        padding-bottom: 10px;
        background-color: whitesmoke;
}

h2 {
        font-family: Georgia, serif;
        text-align: left;
	font-size: 16px;
	color: #E34234;
	letter-spacing: 1px;
	padding: 10px 0 10px 156px;
	border-radius: 5px;
}

.nav {
	width: 632px;
	float: left;
	margin: 0 0 0 0;
	padding: 0;
	list-style: none;
	background-color: #E34234;
        height: 36px;
}

.nav li {
        float: left;
}

.nav li a {
        display: block;
	padding: 8px 8px;
	font-size: 14px;
        width: 141px;
        text-align: center;
        color: white;
}

.nav li a:hover {
        color: white;
	background-color: #E34234;
	font-weight: bold;
	letter-spacing: 1px;
	min-height: 36px;
	max-width: 140px;
	border: solid 1px #E34234;
	border-radius: 10px;
}

.nav li a.selected{
        color: white;
	background-color: #E34234;
	font-weight: bold;
	letter-spacing: 1px;
	min-height: 36px;
	max-width: 140px;
	border: solid 1px #E34234;
	border-radius: 10px;
}

.personas {
	width: 100%;
	height: 5800px;
}

.analysis {
	width: 100%;
	height: 9000px;
}

h3 {
        font-family: Georgia, serif;
	font-size: 14px;
	color: #E34234;
	letter-spacing: 1px;
}


.sitemap a {
	color: #E34234;
	text-decoration: underline;
	text-align: left;
}

.sitemap h2 {
	margin-left: 240px;
	text-decoration: underline;
}

table {
	
}

table td {
	width: 95.5px;
	vertical-align: top;
	border: solid 1px;
}

table p {
	vertical-align: bottom;
}






