body {
     margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    background-color: #C0C0C0;
    
}

img {
    width: 240px;
    margin: 10px 0 0 40px;
    padding: 0 0 0 0
}

.container {
  width: 810px;
  margin:0 0 0 200px;  
  border: solid 1px;
  border-color: #E34234;
  padding: 0 0 0 0;
  background-color: #ffffff;
  
 
}

.toplogo {
    width:100px;
    margin: 0 0 0 220px;
    position: absolute;
}
.toplogo img{
    width: 90px;
    margin: 20px 0 0 0px;
    padding: 0 70px 0 0;
    height: 60px
}

.topheader  {
    width:600px;
    margin: 0 0 0 410px;
    position: absolute;
    
}
.topheader img {
    width: 150px;
    margin: 20px 0 0 -60px;
    padding: 0 70px 0 0;
    height: 60px
}

h1 {
    color: #E34234;
    font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
    
}

.topmenu {
    background-color: #E34234;
    width: 620px;
    margin: 100px 0 0 190px;
    padding: 10px 0 10px 0;
    
}


#submenu {
	margin: 0;
	padding: 0;
	height: 1em;
        }
        
#submenu a:hover{
        color:#C0C0C0
}
#submenu ul li.selected a {
	color: #000000
}

#submenu li {
	list-style: none;
	float: left; }
#submenu li a {
	display: block;
	padding: 0 25px 5px 30px;
	color: #fff;
	text-decoration: none; }

#submenu li ul {
	display: none; 
	width: 10em; /* Width to help Opera out */
	background-color: #69f;
        
        }

#submenu li:hover ul {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0;
        
        }
#submenu li:hover li {
	float: none;
        
        }
#submenu li:hover li a {
	background-color: #ffffff;
	border-bottom: 1px solid #E34234;
	color: #000; }
#submenu li li a:hover {
	background-color: #C0C0C0; }

.fame {
   
    margin: -161px 0 0 150px
}
.fame img {
    width:620px;
    height:138px
}

.sidemenu {
        width: 180px;
        margin: 0 20px 0 0;
        padding: 10px 5px 10px 0;
}

.sidemenu a {
    	
	padding: 7px 10px 7px 10px;
        margin: 0 0 3px 0;
        background-color: #E34234;
	font-size: 12px;
	letter-spacing: 1px;
        text-decoration: none;
        color: #ffffff;
        display: block;
}

.sidemenu a:hover {
    color:#C0C0C0;
}

.footer {
    text-align: center
}



