body {
     margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    background-color: #D8D8D8;
    
}

img {
    width: 240px;
    margin: 10px 0 0 40px;
    padding: 0 0 0 0
}

.container {
  width: 790px;
  margin:0 0 0 240px;  
  border: solid 1px;
  border-color: #E34234;
  padding: 0 0 0 0;
  background-color: #ffffff;
  
}

.toplogo {
    width:100px;
    margin: 0 0 0 0;
}
.toplogo img{
    width: 110px;
    margin: 30px 0 0 30px;
    padding: 0 0 0 0;
    height: 90px
}

.topheader  {
    width:600px;
    margin: -100px 0 0 180px;
    position: absolute;  
}

.topheader img {
    width: 170px;
    margin: 0 0 0 0;
    padding: 0 70px 0 0;
    height: 60px
}

.topheader a {
     padding: 7px 10px 7px 10px;
        margin: 0 0 3px 0;
	font-size: 12px;
	letter-spacing: 1px;
        text-decoration: none;
        color: #000000;  
}

h1 {
    color: #000000;
    font-family: Stint Ultra Expanded;
    text-align: center;
    margin: 30px 0 0 0;
    padding: 0 0 5px 0
}
h2 {
     color:#E34234;
     font-size: 14px;
     font-family: Stint Ultra Expanded;
}

.topmenu {
    background-color: #E34234;
    width: 620px;
    margin: -30px 0 0 170px;
    padding: 10px 0 10px 0;
}
 
.topmenu a:link , .topmenu a:visited{
	text-decoration: none;
	color: #000000;
}

.contact {
     margin: -85px 0 0 368px
}

#submenu {
	margin: 0;
	padding: 0;
	height: 1em;
        }
        
#submenu a:hover{
        color:#000000
}

#submenu li {
	list-style: none;
	float: left;
        }
        
#submenu li a {
	display: block;
	padding: 0 36px 5px 19px;
	color: #ffffff;
	text-decoration: none;
        

        }
#submenu li a.selected{
       color: black; 
} 


#submenu li ul {
	display: none; 
	width: 11em; /* Width to help Opera out */
	background-color: #D8D8D8;
        
        }

#submenu li:hover ul {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0;
        
        
        }
#submenu li:hover li {
	float: none;
        
        }
#submenu li:hover li a {
	background-color: #F2F2F2;
	border-bottom: 1px dotted  #E34234;
	color: #000000
        }
#submenu li li a.selected{
       background-color: #D8D8D8; 
} 
#submenu li li a:hover {
	background-color: #D8D8D8;
        }
        
#subsidemenu {
	top: 0;
	right: 0;
	margin: 0;
        padding: 0 0 10px 0;

       
     }
#subsidemenu li {
	list-style: none;
        
        }
        
#subsidemenu li a {
	display: block;
	text-decoration: none; 
	color: #ffffff;
        padding: 10px 0 5px 20px;

	}
#subsidemenu li a:hover {
	color: #000;
        }
        
#subsidemenu li ul {
	display: none;
        padding: 10px 0 5px 20px;
        background-color: #F2F2F2;


        }
#subsidemenu li:hover ul, #subsidemenu li.hover ul {
	width: 10%;
        display: block;
	position: absolute;
	margin: -36px 0 0 160px;
        padding:  0 0 0 0

        }
        
#subsidemenu li:hover li, #subsidemenu li.hover li {

        }
#subsidemenu li:hover li a, #subsidemenu li.hover li a {
          background-color:#F2F2F2;
          border-bottom: 1px dotted  #E34234;
          color:#000000;
}


        
#subsidemenu li li a:hover {
	color: #000000;
        background-color:#D8D8D8;

        }

.fame {
   width:620px;
    margin: -150px 0 0 180px;
    padding: 0 0 0 0;
}
.fame img {
    width:620px;
    height:142px;
    margin: -14px 0 0 -10px;

}

.sidemenu {
        width: 160px;
        padding: 0 0 10px 0;
        margin:10px 0 0 0 

}

.sidemenu a {
     
        margin: 0 0 3px 0;
        background-color: #E34234;
	font-size: 12px;
	letter-spacing: 1px;
        text-decoration: none;
        color: #ffffff;
        display: block;
}

.sidemenu a:hover {
    color:#C0C0C0;
}

.footer {
    text-align: center
}

.search {
     margin: 40px 0 0 378px;
}
.radiobutton{
     margin: -40px 0 0 0px;

}

.wire {
     
}
.wire img {
     width: auto;
     margin: 1px 0 0 -1px;
}

.abouttext {
     width: 520px;
     text-align: left;
     margin:-343px 0 0 20px
}
.aboutimg {
     margin: 90px 0 0 540px;
}
.aboutimg img {
     width: 200px     

}
.aboutimg span {
     font-size: 80%;
     margin: 0 0 0 60px
}

.historytext {
     width: 520px;
     text-align: left;
     margin:-370px 0 0 20px
}
.historyimg {
      margin: 100px 0 0 540px;
}
.historyimg img {
     width: 200px;  

}
.historyimg span {
     font-size: 80%;
     margin: 0 0 0 98px
}

.researchtext {
     width: 520px;
     text-align: left;
     margin:-345px 0 0 20px
}
.researchimg {
          margin: 90px 0 0 540px;

}
.researchimg img {
          width: 200px;  
}

.researchimg span{
     font-size: 80%;
     margin: 0 0 0 98px
}

.sportstext {
     width: 570px;
     text-align: left;
     margin:-205px 0 0 20px
}

.sportsimg {
     margin: 90px 0 0 540px;

}

.sportsimg img {
     width: 200px;  

}

.athleticstext {
     
     text-align: left;
     margin: 30px 0 0 20px
}

.newstext {
     width: 520px;
     text-align: left;
     margin: 30px 0 0 20px;
}

.newstextimg {
          margin: -270px 0 0 540px;
}
.newstextimg img {
     width: 200px;  
}
.alumnitext {
     width: 370px;
     text-align: center;
     margin: 80px 0 0 20px
}
.alumniimg {
     margin: -190px 0 0 370px;
}
.alumniimg img {
     width: 350px;
     padding: 0 0 5px 0
}

.edutext {
     width: 470px;
     text-align: left;
     margin: -412px 0 0 20px
}

.eduimg {
      margin: 90px 0 0 510px;
}
.eduimg img {
  width: 230px;
  padding: 0 0 15px 0;
}

.studenttext {
     width: 470px;
     text-align: left;
     margin: -222px 0 0 20px
}
.studentimg {
     margin: 90px 0 0 480px;
}
.studentimg img {
       width: 260px;
}

.protext {
     width: 470px;
     text-align: left;
     margin: -212px 0 0 20px
}
.stafftext {
     width: 470px;
     text-align: left;
     margin: -212px 0 0 20px
}
.staffimg {
     margin: 90px 0 0 500px;

}

#breadcrumbs li {
display: block;
float: left;
margin: 0 0 0 -20px;
padding: 0;
font-size: 12px;
line-height: 12px;

}

